---
interface Props { experiece:{
  title: string;
  company: string;
  location: string;
  date: string;
  description: string[];
  tools?: string[];
  
}}
const { experiece} = Astro.props;
const { title, company, location, date, description } = experiece;
---

<article class="p-4 bg-gray-300 rounded-lg mb-5 ">
  <h3 class="text-lg font-bold mb-1">{title}</h3>
  <p class="text-sm text-gray-600 mb-1">{company} | {location} | {date}</p>
  <ul class="list-disc pl-4">
    {description.map((item) => (
      <li class="text-sm text-gray-700 mb-1">{item}</li>
    ))
    }
  </ul>
   {experiece.tools && (
    <div class="mt-2">
      {experiece.tools.map((tool) => (
        <span class="inline-block bg-neumorphism rounded-lg shadow-neumorphism bg-gray-400 text-white text-xs py-1 px-2 rounded-full mr-2 mb-2">{tool}</span>
      ))}
    </div>
  )}
</article>

