---


interface Project {
  name: string;
  technologies: string[];
  description: string;
  imagePath?:string; 
}
interface Props { experience:{
  title: string;
  company: string;
  location: string;
  date: string;
  description: string[];
  tools?: string[];
  projects?: Project[];
  
}}
const { experience} = Astro.props;
const { title, company, location, date, description, projects } = experience;
---

<article class="p-4 bg-gray-300 rounded-lg mb-5 ">
  <h3 class="text-lg font-bold mb-1">{title}</h3>
  <p class="text-sm text-gray-600 mb-1">{company} | {location} | {date}</p>
  <ul class="list-disc pl-4">
    {description.map((item) => (
      <li class="text-sm text-gray-700 mb-1">{item}</li>
    ))}
  </ul>
  {experience.tools && (
    <div class="mt-2">
      {experience.tools.map((tool) => (
        <span class="inline-block bg-neumorphism shadow-neumorphism bg-gray-400 text-white text-xs py-1 px-2 rounded-full mr-2 mb-2">{tool}</span>
      ))}
    </div>
  )}
  {projects && (
    <div class="mt-4">
      <h4 class="text-md font-bold mb-2 text-slate-800">Projects:</h4>
      {projects.map((project) => (
        <div class="mb-3 relative">
          <h5 class="text-sm font-bold text-slate-600">{project.name}</h5>
          {project.imagePath && (
            <img 
              src={project.imagePath} 
              alt={project.name} 
              class="mx-auto max-w-full sm:max-w-md md:max-w-lg max-h-auto object-cover mb-2 rounded-xl transform hover:scale-105 transition-transform duration-300 ease-in-out" />
          )}
          <ul class="list-disc pl-4 text-sm text-slate-500">
            {project.technologies.map((tech) => (
              <li>{tech}</li>
            ))}
          </ul>
          <p class="text-sm text-slate-800">{project.description}</p>
        </div>
      ))}
    </div>
  )}
</article>
